name: Build and Test PR

on:
  pull_request:

jobs:
  ibmi:
    environment: COMMON1
    runs-on: ubuntu-latest
    permissions:
      packages: read
      issues: write
      pull-requests: write
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Node.js 18
        uses: actions/setup-node@v3
        with:
          node-version: 18
    
      - name: Install ibmi-ci
        run: npm i -g @ibm/ibmi-ci
    
      - name: Install Source Orbit
        run: npm i -g @ibm/sourceorbit

      # - name: Install ibmi-testing
      #   run: npm i -g @ibm/ibmi-testing

      - name: Build and Test
        run: | 
          ici \
            --cmd "mkdir -p './builds/ics_${GITHUB_HEAD_REF}'" \
            --rcwd "./builds/ics_${GITHUB_HEAD_REF}" \
            --push "." \
            --ignore --cl "CRTLIB $(so -bl ${GITHUB_HEAD_REF})" \
            --ignore --cl "CLRLIB $(so -bl ${GITHUB_HEAD_REF})" \
            --cmd "/QOpenSys/pkgs/bin/gmake BIN_LIB=$(so -bl ${GITHUB_HEAD_REF})" \
            --cmd "itest --id . --ll $(so -bl ${GITHUB_HEAD_REF}) RPGUNIT QDEVTOOLS --cl $(so -bl ${GITHUB_HEAD_REF}) --cc --sr --tr --to --co" \
            --pull ".itest"
        env:
          IBMI_HOST: ${{ secrets.IBMI_HOST }}
          IBMI_USER: ${{ secrets.IBMI_USER }}
          IBMI_PASSWORD: ${{ secrets.IBMI_PASSWORD }}
          IBMI_SSH_PORT: ${{ secrets.IBMI_SSH_PORT }}

      - name: Add Summary Report
        continue-on-error: true
        run: |
          cat ./summary-report.md >> $GITHUB_STEP_SUMMARY
          CONTENT=$(cat ./summary-report.md)
          SUMMARY_REPORT="$(cat ./summary-report.md)"
          echo "SUMMARY_REPORT<<EOF" >> $GITHUB_ENV
          echo "$SUMMARY_REPORT" >> $GITHUB_ENV
          echo "EOF" >> $GITHUB_ENV

      - name: Post Comment to PR
        uses: actions/github-script@v5
        env:
          SUMMARY_REPORT: ${{ env.SUMMARY_REPORT }}
        continue-on-error: true
        with:
          script: |
            github.rest.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: `${process.env.SUMMARY_REPORT}`
            })

      - name: Upload Test and Coverage Logs
        uses: actions/upload-artifact@v4
        continue-on-error: true
        with:
          name: ibmi-testing-logs
          path: |
            ./summary-report.md
            ./test-result.log
            ./test-output.log
            ./command-output.log